.listWrapper {
  display: flex;
  flex-wrap: wrap;
}

.wrapper {
  padding-left: 2em;
  padding-top: 2em;
}

.title {
  margin-bottom: 0.5em;
}

.imageContainer {
  position: relative;
  display: flex;
  justify-content: center;
}

.playButtonOnImage {
  position: absolute;
  z-index: 1;
  align-self: center;
}

.circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: relative;
}

.playButton {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translate(50%, -50%)
}

.item {
  margin-right: 1.5em;
  margin-bottom: 1.5em;
  /* size of album art */
  max-width: 150px;
  /* exclude padding from max-width calculation */
  box-sizing: content-box;
}

.link {
  text-decoration: none;
  color: inherit;
}