.listWrapper {
  display: flex;
  flex-wrap: wrap;
}

.wrapper {
  padding: 2em;
}

.title {
  margin-bottom: 0.5em;
}

.image:hover {
  filter: brightness(75%);
}

.item {
  padding-right: 1em;
  padding-bottom: 1em;
}

.link {
  text-decoration: none;
  color: inherit;
}
