.wrapper {
  display: flex;
  flex-direction: row;
  padding: 2em;
  margin-bottom: 0.75em;
  backdrop-filter: brightness(40%) blur(40px);
}

.background {
  background-position: 50%;
  background-size: fill;
  box-shadow: 10px 0px 36px 0px rgba(0,0,0,0.65);
}

.metadataWrapper {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
}
