.bannerWrapper {
  padding: 3em 2em 3em 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  backdrop-filter: blur(100px) brightness(75%);
}

.bannerBackground {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.bannerImage {
  margin-right: 1em;
}

.pageWrapper {
  padding: 1em;
}

.albumWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  flex-grow: 1;
  /* prevent vertical growth of flex elements */
  align-content: flex-start;
  margin-bottom: 2em;
}