.heroWrapper {
  padding: 3em 2em 3em 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;
  backdrop-filter: blur(100px) brightness(75%);
}

.heroBackground {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

.heroImage {
  margin-right: 1em;
}