html {
  --player-height: 100px;
  --album-info-height: 225px;
}

.link {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  height: 0.75em;
}

::-webkit-scrollbar-track:hover {
  background: var(--accent-background);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--accent);
  width: 12px;
  border-radius: 4px;
  background-clip: padding-box;
}