html {
  --player-height: 100px;
  --album-info-height: 225px;
}

.link {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 800px) {
  div .attributes {
    flex-direction: column;
  }

  div .attribute:before {
    content: "";
  }
}

.attributes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
}

.attribute:first-child::before {
  content: "";
}

.attribute:before {
  content: " • ";
}

::-webkit-scrollbar {
  height: 0.75em;
}

::-webkit-scrollbar-track:hover {
  background: var(--accent-background);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--accent);
  width: 12px;
  border-radius: 4px;
  background-clip: padding-box;
}