.wrapperWithSidebar {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  height: 100dvh;
}

.layout { 
  display: flex;
  flex-direction: column;
  height: 100dvh;
}
.contentWrapper {
  padding: 1em;
  overflow: auto;
  flex: 1;
}

.sidebar {
  position: sticky;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-width: 26ch;
  padding: 1em;
  border-right: 2px solid var(--accent);
  background-color: var(--accent-background);
}