.wrapperWithSidebar {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  height: 100dvh;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}
.contentWrapper {
  overflow: auto;
  flex: 1;
}

.sidebar {
  box-sizing: border-box;
  min-width: 22ch;
  padding: 1em;
  background-color: var(--app-background);
}
