.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: fixed;
  bottom: 0;
  margin-top: 0.25em;
  width: 100%;
  padding: 1rem;
  z-index: 100;
}

.imageBox {
  max-width: 70px;
  margin-right: 8px;
}

.imageText {
  align-self: center;
  width: 20%;
}

.playerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.playerButtons {
  display: flex;
  column-gap: 1.2em;
  align-self: center;
  margin-bottom: 4px;
}

.playerSeekbar {
  min-width: 75%;
  display: flex;
  flex-direction: row;
  align-self: center;
}

.slider {
  position: relative;
  width: 100%;
  align-self: center;
}

.progressBar {
  position: absolute;
  width: 100%;
  align-self: center;
  z-index: 1;
  opacity: 30%;
}

.sliderWrapper {
  display: flex;
  position: relative;
  width: 100%;
}

.settings {
  margin: auto;
}
