.gridContainer {
  display: grid;
  grid-template-columns: [trackNumber] 56px [mediaInfo] 1fr [duration] 48px;
  margin: 8px 0 8px;
  padding: 0.15rem;
  border: 1px solid transparent;
}

.gridContainer:hover {
  background-color: #e0e5e925;
}

.gridContainer:focus {
  background-color: #413f3f52;
}

.trackNumber {
  grid-area: trackNumber;
  margin: auto;
  overflow: hidden;
  max-width: 40px;
  max-height: 40px;
}

.info {
  grid-area: mediaInfo;
  user-select: none;
}

.duration {
  grid-area: duration;
  align-self: center;
}

/* https://codepen.io/petrey/pen/bpKqJv */
.spinningDisc {
  padding: 0;
  /* ensure the disc takes up as little space as it can */
  display: flex;
  animation: spin 1s infinite linear;
  justify-content: center;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
