.wrapper {
  display: flex;
  padding: 1rem;
  z-index: 100;
  background: var(--app-background);
  overflow: hidden;
}

.imageBox {
  max-width: 70px;
  margin-right: 0.5em;
}

.imageText {
  align-self: center;
  width: 20%;
}

.playerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.playerButtons {
  display: flex;
  column-gap: 1.2em;
  align-self: center;
  margin-bottom: 4px;
}

.playerSeekbar {
  min-width: 75%;
  display: flex;
  align-self: center;
}

.slider {
  position: relative;
  width: 100%;
  align-self: center;
}

.progressBar {
  position: absolute;
  width: 100%;
  align-self: center;
  z-index: 1;
  opacity: 30%;
}

.sliderWrapper {
  display: flex;
  position: relative;
  width: 100%;
}

.volumeWrapper {
  display: flex;
  align-items: center;
  min-width: 7rem;
}

.volumeSlider {
  flex: 1;
}

.settings {
  display: flex;
  width: 25%;
  gap: 1em;
  justify-content: flex-end;
}